
<p-toast></p-toast>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden backg">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5  text-center">
            <a href="/" class="text-blue-500">
                <img src="assets/images/fsb.png" alt="FSB" class="mb-1" style="width:250px">                
            </a>
        </div>

        <div class="col-12 xl:col-8 mb-5" style="border-radius:56px; padding:0.3rem; background: black">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
            
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Create Your Club</div>
                </div>

                <div class="text-500 mb-1">
                    <i class="pi pi-exclamation-triangle mr-2"></i>
                    
                    Before submiting your request please make sure to download and fill the 
                    <a href="http://www.fsb.rnu.tn/vie-estudiantine/charte-des-clubs" target="_blank" rel="noopener noreferrer">charts</a>.
                </div>
                <div class="text-500 mb-5">
                    <i class="pi pi-check-circle mr-2"></i>
                    Please complete all fields.</div>
        
                <div class="w-full md:w-12 mx-auto">
                    <form [formGroup]="myForm">
    
                        <h4>1. Club Details</h4>
                        <div class="p-fluid p-formgrid grid partsHover">

                            <div class="field col-12">
                                <label>Logo</label>
                                <p-fileUpload class="pt-5" accept="image/png, image/jpeg" (onSelect)="onSelectLogo($event)"
                                maxFileSize="1048575" invalidFileSizeMessageDetail= "Maximum permitted size is 1Mo."
                                (onRemove)="onRemoveLogo()" [showCancelButton]=false  [showUploadButton]=false>
                                </p-fileUpload>
                                <div class="mt-1" *ngIf="(myForm.get('logo').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('logo').hasError('required')">Logo is required.</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="name">Name</label>
                                <input id="name" pInputText placeholder="Club Title" type="text" formControlName="name"/>
                                <div *ngIf="(myForm.get('name').invalid && myForm.get('name').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('required')">Name is required.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('pattern')">Incorrect Format.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('clubNameTaken')">Name Already Taken.</small>
                                </div>                                
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="clubEmail">E-Mail</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                                    <input id="clubEmail" type="email" formControlName="clubEmail" pInputText placeholder="Club E-mail">         
                                </div>
                                <div *ngIf="(myForm.get('clubEmail').invalid && myForm.get('clubEmail').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('clubEmail').hasError('required')">E-mail is required.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('clubEmail').hasError('email')">Incorrect Format.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12">
                                <label for="description">Description</label>
                                <textarea id="description" rows="5" cols="30" pInputTextarea 
                                placeholder="A brief description of the club concept and objectives." [autoResize]="true" formControlName="description"></textarea>
                                <div *ngIf="(myForm.get('description').invalid && myForm.get('description').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('description').hasError('required')">Description is required.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('description').hasError('maxlength')">Maximum 255 Character.</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-12">
                                <label for="sector">Select a Coordinator</label>
                                <p-table #dt [rowHover]="true" [value]="teachers" selectionMode="single" [(selection)]="selectedTeacher"  [rows]="10" [paginator]="true"
                                 responsiveLayout="scroll" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" styleClass="p-datatable-gridlines"
                                [globalFilterFields]="['firstName','lastName']" dataKey="id"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">
                                        <h5 class="m-0">Available Teachers</h5>
                                        <span class="p-input-icon-left" style="width: 50%;">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                        </span>
                                    </div>
                                </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                              <th pSortableColumn="firstName"><div class="flex justify-content-center">First Name<p-sortIcon field="firstName"></p-sortIcon></div>
                                              <th pSortableColumn="lastName"><div class="flex justify-content-center">Last Name<p-sortIcon field="lastName"></p-sortIcon></div>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-teacher>
                                            <tr [pSelectableRow]="teacher">
                                                <td style="width:30%; min-width:10rem;">
                                                    <span class="p-column-title">firstName</span>
                                                    <div class="flex justify-content-center text-center">{{teacher?.firstName}}</div>
                                                </td>
                                                <td style="width:30%; min-width:10rem;">
                                                    <span class="p-column-title">lastName</span>
                                                    <div class="flex justify-content-center text-center">{{teacher?.lastName}}</div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            <div class="flex align-items-center justify-content-between">
                                                In total there are {{teachers ? teachers?.length : 0 }} teachers.
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                              <td colspan="2" class="text-center">No available teachers.</td>
                                            </tr>
                                        </ng-template>

                                </p-table>
                                <div class="mt-1" *ngIf="(myForm.get('coordinator').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('coordinator').hasError('required')">Coordinator is required.</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="document">The Chart of Student Clubs published by the University of Carthage. (PDF)</label>
                                <p-fileUpload class="pt-5" accept="application/pdf" (onSelect)="onSelectUCrequest($event)" 
                                maxFileSize="1048575" invalidFileSizeMessageDetail= "Maximum permitted size is 1Mo."
                                (onRemove)="onRemoveUCrequest()" [showCancelButton]=false  [showUploadButton]=false>
                                </p-fileUpload>
                                <div class="mt-1" *ngIf="(myForm.get('UCrequest').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('UCrequest').hasError('required')">Chart is required.</small>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="document">The Chart of Student Clubs published by the Faculty of Science of Bizerte. (PDF)</label>
                                <p-fileUpload class="pt-5" accept="application/pdf" (onSelect)="onSelectFSBrequest($event)"
                                maxFileSize="1048575" invalidFileSizeMessageDetail= "Maximum permitted size is 1Mo."
                                (onRemove)="onRemoveFSBrequest()" [showCancelButton]=false [showUploadButton]=false>
                                </p-fileUpload>
                                <div class="mt-1" *ngIf="(myForm.get('FSBrequest').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('FSBrequest').hasError('required')">Chart is required.</small>
                                </div>
                            </div>

                        </div>
                        
                        <h4>2. Leader Details</h4>
                        <div class="p-fluid p-formgrid grid partsHover">
                            <div class="field col-12 md:col-4">
                                <label for="firstName">First Name</label>
                                <input id="firstName" pInputText placeholder="First Name" type="text" formControlName="firstName"/>
                                <div *ngIf="(myForm.get('firstName').invalid && myForm.get('firstName').touched)">
                                    <small *ngIf="myForm.get('firstName').hasError('required')">First Name is Required.</small>
                                    <small *ngIf="myForm.get('firstName').hasError('pattern')">Invalid.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" pInputText placeholder="Last Name" type="text" formControlName="lastName"/>
                                <div *ngIf="(myForm.get('lastName').invalid && myForm.get('lastName').touched)">
                                    <small *ngIf="myForm.get('lastName').hasError('required')">Last Name is Required.</small>
                                    <small *ngIf="myForm.get('lastName').hasError('pattern')">Invalid.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="cin">CIN</label>
                                <input id="cin" pInputText placeholder="Identity Card Number" type="text" formControlName="cin"/>
                                <div *ngIf="(myForm.get('cin').invalid && myForm.get('cin').touched)">
                                    <small *ngIf="myForm.get('cin').hasError('required')">CIN is Required.</small>
                                    <small *ngIf="myForm.get('cin').hasError('cinExists')">CIN Already Exist.</small>
                                    <small *ngIf="myForm.get('cin').hasError('pattern')">Invalid Format.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-3">
                                <label for="dob">Date of Birth</label>
                                <p-calendar formControlName="dob" [showIcon]="true" placeholder="dd/mm/yyyy" inputId="icon" dateFormat="dd-mm-yy"></p-calendar>
                                <div *ngIf="(myForm.get('dob').invalid && myForm.get('dob').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('dob').hasError('required')">Date of Birth is Required.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('dob').hasError('ageRange')">Invalid Age.</small>
                                </div>
                            </div>
                            
                            
                            <div class="field col-12 md:col-5">
                                <label for="email">E-Mail</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                                    <input id="email" type="email" formControlName="email" pInputText placeholder="e-mail">         
                                </div>
                                <div *ngIf="(myForm.get('email').invalid && myForm.get('email').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('required')">E-mail is Required.</small>
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('email')">Incorrect Format.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="phone">Phone</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                                    <p-inputNumber id="phone" mode="decimal" placeholder="Phone Number" [useGrouping]="false" formControlName="phone">
                                    </p-inputNumber>
                                </div>
                                <div *ngIf="(myForm.get('phone').invalid && myForm.get('phone').touched)">
                                    <small *ngIf="myForm.get('phone').hasError('pattern')">Invalid.</small>
                                    <small *ngIf="myForm.get('phone').hasError('required')">Phone is Required.</small>
                                </div>
                            </div>
                            <div class="field col-12 md:col-12">
                                <label for="grade">Grade</label>
                                <p-dropdown appendTo="body" [options]="grades" formControlName="grade" optionLabel="title" [filter]="true" filterBy="title" [showClear]="true" 
                                placeholder="Select a Grade">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="country-item country-item-value" *ngIf="this.myForm.get('grade').value.title">
                                            <div>{{this.myForm.get('grade').value.title}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-grade pTemplate="item">
                                        <div class="country-item">
                                            <div>{{grade?.title}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="(myForm.get('grade').invalid && myForm.get('grade').touched)">
                                    <small class="ng-dirty ng-invalid" *ngIf="myForm.get('grade').hasError('required')">Grade is Required.</small>
                                  </div>
                            </div>
                            
                        </div>

                        <h4>3. Account Details</h4>
                        <div class="p-fluid p-formgrid grid partsHover">
                        <div class="field col-12 md:col-12">
                            <label for="username">Username</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" id="username" pInputText placeholder="Username" formControlName="username">         
                            </div>
                            <div *ngIf="(myForm.get('username').invalid && myForm.get('username').touched)">
                                <small *ngIf="myForm.get('username').hasError('required')">Username is Required.</small>
                                <small *ngIf="myForm.get('username').hasError('usernameExists')">Username Already Exist.</small>

                            </div>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="password1">Password</label>
                            <p-password id="password1" formControlName="password" placeholder="Password">
                                <ng-template pTemplate="header">
                                    <h6>Pick a password</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase </li>
                                        <li>At least one numeric</li>
                                        <li>At least one special character</li>
                                        <li>Minimum 8 characters</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <div *ngIf="(myForm.get('password').invalid && myForm.get('password').touched)">
                                <small *ngIf="myForm.get('password').hasError('required')">Username is Required.</small>
                                <small *ngIf="myForm.get('password').hasError('passwordStrength')">Weak Password.</small>

                            </div>
                        </div>
                    </div>
    
                    </form>
                    <p-button label="Submit" iconPos="right" [loading]="showLoading" 
                        (click)="onRegister()" icon="pi pi-save" styleClass="w-full"></p-button>

                </div>
                


            </div>
        </div>

    </div>
</div>