<p-toast></p-toast>
<div class="grid">
    <div class="col-4 col-offset-4">
        <div class="card" >
            <div class="justify-content-between text-center">
                <div class="text-center">                    
                    <p-image *ngIf="club?.logo" [src]="getSrcFromCustomFile()" alt="" width="100px" height="100px" [preview]="true"></p-image>
                    <img *ngIf="!club?.logo" src="./assets/images/Profile_placeholder.png" width="100px" height="100px"  alt=""/>
                    <div class="font-medium text-3xl text-900">{{club?.name}}</div>
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-7" >
        <div class="card" >
            <div class="flex align-items-center justify-content-between mb-0">
                <div class="font-medium text-3xl text-900 mb-3">About</div>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-text" (click)="editDetailsButton()" ></button>
            </div>
            <div class="surface-section">
                <div class="text-500 mb-5">About the club details.</div>
                <ul class="list-none p-0 m-0">
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.name }}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="10rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Description</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.description}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">E-mail</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.email}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Status</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">
                                <p-tag *ngIf="club?.leader?.account?.status == true" styleClass="mr-2" icon="pi pi-check" severity="success" value="Active"></p-tag>
                                <p-tag *ngIf="club?.leader?.account?.status == null" styleClass="mr-2" icon="pi pi-clock" severity="warning" value="Under Review"></p-tag>
                                <p-tag *ngIf="club?.leader?.account?.status == false" icon="pi pi-times" severity="danger" value="Inactive"></p-tag>
                            </div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-5" >
        <div class="card" >
            <div class="flex align-items-center justify-content-between mb-0">
                <div class="font-medium text-3xl text-900 mb-3">Coordinator</div>
                <button pButton type="button" icon="pi pi-arrow-right-arrow-left" class="p-button-text" (click)="editCoordiantorButton()" ></button>
            </div>
            <div class="surface-section">
                <div class="text-500 mb-5">Coordinator Personal Details.</div>
                <ul class="list-none p-0 m-0">
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.firstName + " " + club?.coordinator.lastName}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="10rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Email</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.email}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Phone</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.phone}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                </ul>
            </div>
            </div>



    </div>


    

</div>

<p-dialog [(visible)]="clubDialog" [style]="{width: '60%'}" header="Club Details" [modal]="true" styleClass="p-fluid">
    <div class="text-500 mb-5">Please complete all required fields marked with an asterisk (*).</div>
    <ng-template pTemplate="content">
        <form [formGroup]="myForm">
          <!-- ---hidden--- -->
          <div class="field">
            <input Item="text" hidden pInputText id="code" formControlName="id" />
          </div>
          <!-- ---code--- -->
          <div class="field">
            <label for="name">Name *</label>
            <input Item="text" pInputText id="name" formControlName="name" placeholder="Club Name" required />
            <div *ngIf="(myForm.get('name').invalid && myForm.get('name').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('required')">
                Name is required.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('pattern')">
                Not Valid.
              </small>
            </div>
          </div>
          
          <div class="field">
            <label for="email">Email *</label>
            <input Item="text" pInputText id="email" formControlName="email" placeholder="Club Email" required />
            <div *ngIf="(myForm.get('email').invalid && myForm.get('email').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('required')">Email is required.</small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('email')">Invalid Format.</small>
            </div>
          </div>

          <div class="field">
            <label for="description">Description *</label>
            <textarea id="description" rows="5" cols="30" pInputTextarea placeholder="brief description about the club." [autoResize]="true" formControlName="description"></textarea>
            <div *ngIf="(myForm.get('description').invalid && myForm.get('description').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('description').hasError('required')">Description is required.</small>
            </div>
          </div>
        </form>
      </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" [disabled]="!myForm.valid" icon="pi pi-check" class="p-button-text" (click)="editClub()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="coordiantorDialog" [style]="{width: '70%'}" header="Coordiantor Details" [modal]="true" styleClass="p-fluid">
    <div class="text-500 mb-5">Please select a coordinator for your club from the list below.</div>
    <ng-template pTemplate="content">
        <p-table #dt [rowHover]="true" [value]="teachers" selectionMode="single" [(selection)]="selectedTeacher"  [rows]="10" [paginator]="true"
            responsiveLayout="scroll" styleClass="p-datatable-gridlines"
        [globalFilterFields]="['firstName','lastName','email']" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Available Teachers</h5>
                <span class="p-input-icon-left" style="width: 50%;">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName"><div class="flex justify-content-center">First Name<p-sortIcon field="firstName"></p-sortIcon></div>
                        <th pSortableColumn="lastName"><div class="flex justify-content-center">Last Name<p-sortIcon field="lastName"></p-sortIcon></div>
                        <th pSortableColumn="email"><div class="flex justify-content-center">Email<p-sortIcon field="email"></p-sortIcon></div>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-teacher>
                    <tr [pSelectableRow]="teacher">
                        <td style="width:30%; min-width:10rem;">
                            <span class="p-column-title">firstName</span>
                            <div class="flex justify-content-center text-center">{{teacher?.firstName}}</div>
                        </td>
                        <td style="width:30%; min-width:10rem;">
                            <span class="p-column-title">lastName</span>
                            <div class="flex justify-content-center text-center">{{teacher?.lastName}}</div>
                        </td>
                        <td style="width:40%; min-width:12rem;">
                            <span class="p-column-title">email</span>
                            <div class="flex justify-content-center text-center">{{teacher?.email}}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{teachers ? teachers?.length : 0 }} teachers.
                    </div>
                </ng-template>

        </p-table>
      </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCoordinatorDialog()"></button>
        <button pButton pRipple label="Save" [disabled]="!selectedTeacher" icon="pi pi-check" class="p-button-text" (click)="saveCoordinator()"></button>
    </ng-template>
</p-dialog>




