<p-toast></p-toast>
<div class="grid">
    <div class="col-4 col-offset-4">
        <div class="card" >
            <div class="justify-content-between text-center">
                <div class="text-center">                    
                    <p-image *ngIf="club?.logo" [src]="getSrcFromCustomFile(club)" alt="" width="100px" height="100px" [preview]="true"></p-image>
                    <img *ngIf="!club?.logo" src="./assets/images/Profile_placeholder.png" width="100px" height="100px"  alt=""/>
                    <div class="font-medium text-3xl text-900">{{club?.name}}</div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card" >
            <div class="flex align-items-center justify-content-between mb-0">
                <div class="font-medium text-3xl text-900 mb-3">About</div>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-text" (click)="editAboutButton()" ></button>
            </div>
            <div class="surface-section">
                <div class="text-500 mb-5">About the club.</div>
                <ul class="list-none p-0 m-0">
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.name }}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="10rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Description</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.description}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">E-mail</div>
                        <div class="text-900 w-full md:w-7 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.email}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="12rem" height="1.2rem" ></p-skeleton>
                        </div>
                        <div class="w-6 md:w-2 flex justify-content-end">
                            <a href="mailto:{{club?.email}}" pButton pRipple icon="pi pi-send" class="p-button-rounded p-button-secondary p-button-outlined mr-2 mb-2"></a>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Status</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">
                                <p-tag *ngIf="club?.leader.account.status == true" styleClass="mr-2" icon="pi pi-check" severity="success" value="Active"></p-tag>
                                <p-tag *ngIf="club?.leader.account.status == null" styleClass="mr-2" icon="pi pi-clock" severity="warning" value="Under Review"></p-tag>
                                <p-tag *ngIf="club?.leader.account.status == false" icon="pi pi-times" severity="danger" value="Inactive"></p-tag>
                            </div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="card" >
            <div class="flex align-items-center justify-content-between mb-0">
                <h5>Leader</h5>
                <!-- <button pButton type="button" icon="pi pi-arrow-right-arrow-left" class="p-button-text" (click)="editLeader()" ></button> -->
            </div>
            <div class="surface-section">
                <div class="text-500 mb-5">About the club leader.</div>
                <ul class="list-none p-0 m-0">
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Full Name</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.leader.firstName + " " + club?.leader.lastName}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="10rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">CIN</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.leader.cin}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">E-mail</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.leader.email}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Phone</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.leader.phone}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Grade</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.leader.grade.title}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card" >
            <div class="flex align-items-center justify-content-between mb-0">
                <h5>Coordinator</h5>
                <!-- <button pButton type="button" icon="pi pi-arrow-right-arrow-left" class="p-button-text" (click)="editCoordiantorButton()" ></button> -->
            </div>
            <div class="surface-section">
                <div class="text-500 mb-5">Coordinator Personal Details.</div>
                <ul class="list-none p-0 m-0">
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Name</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.firstName + " " + club?.coordinator.lastName}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="10rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">CIN</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.cin}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Email</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.email}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                        <div class="text-500 w-6 md:w-3 font-medium">Phone</div>
                        <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
                            <div *ngIf="dataLoaded">{{club?.coordinator.phone}}</div>
                            <p-skeleton *ngIf="!dataLoaded" width="5rem" height="1.2rem" ></p-skeleton>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        <div class="col-12">
            <div class="card" >
                <div class="flex align-items-center justify-content-between mb-0">
                    <h5>Club Request</h5>
                    <button pButton type="button" icon="pi pi-file-edit" class="p-button-text" label="Status" (click)="editRequestButton()" ></button>
                </div>
                <div class="surface-section">
                    <div class="text-500 mb-5">Administrative  papers for the club.</div>
                 <p-tabView>
                    <p-tabPanel header="University of Carthage Request">
                        <!-- <pdf-viewer [original-size]="false" style="width: 100%; height: 300px"></pdf-viewer> -->
                        <a style="margin-top: 10px;" [href]="UCrequest_file" [download]="club?.ucrequest?.fileName">
                            <button style="width: 100%;" pButton type="button" label="Download UC request" icon="pi pi-download"></button>
                          </a>
                    </p-tabPanel>
                    <p-tabPanel header="Faculty Request">
                        <!-- <pdf-viewer  [original-size]="false" style="width: 100px; height: 400px"></pdf-viewer> -->
                        <a style="margin-top: 10px;" [href]="FSBrequest_file" [download]="club?.fsbrequest?.fileName">
                            <button style="width: 100%;" pButton type="button" label="Download FSB request" icon="pi pi-download"></button>
                          </a>
                    </p-tabPanel>
                </p-tabView> 
                </div>
                </div>
        </div>
</div>

<p-dialog [(visible)]="clubStatusDialog" [style]="{width: '50%'}" header="Club Status" [modal]="true" styleClass="p-fluid">
    <div class="text-500 mb-5">Would you approve or reject this request?</div>
    <ng-template pTemplate="content">
        <p-selectButton [options]="statusOptions" [(ngModel)]="statusValue" optionLabel="label" optionValue="value"></p-selectButton>
      </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="clubStatusDialog = false"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStatus()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="clubAboutDialog" [style]="{width: '70%'}" header="Club Details" [modal]="true" styleClass="p-fluid">
    <div class="text-500 mb-5">Please complete all required fields marked with an asterisk (*).</div>
    <ng-template pTemplate="content">
        <form [formGroup]="myForm">
          <div class="field">
            <label for="name">Name *</label>
            <input Item="text" pInputText id="name" formControlName="name" placeholder="Club Name" required />
            <div *ngIf="(myForm.get('name').invalid && myForm.get('name').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('required')">
                Name is required.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('pattern')">
                Not Valid.
              </small>
            </div>
          </div>
          <div class="field">
            <label for="email">Email *</label>
            <input Item="text" pInputText id="email" formControlName="email" placeholder="Club Email" required />
            <div *ngIf="(myForm.get('email').invalid && myForm.get('email').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('required')">
                Name is required.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('pattern')">
                Not Valid.
              </small>
            </div>
          </div>
          <div class="field">
            <label for="description">Description *</label>
            <textarea id="description" rows="5" cols="30" pInputTextarea [autoResize]="true" formControlName="description" placeholder="Club Description"></textarea>
            <div *ngIf="(myForm.get('description').invalid && myForm.get('description').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('description').hasError('required')">Description is required.</small>
            </div>
          </div>
        </form>
      </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideAboutDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveClubAbout()"></button>
    </ng-template>
</p-dialog>

