<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <a class="flex align-items-center" href="#">
                <img src="assets/images/fsb.png" alt="Sakai Logo" height="70" class="mr-0 lg:mr-2"><span class="text-900 font-medium text-2xl line-height-3 mr-8"></span>
            </a>
            <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:85%">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <li>
                        <a (click)="router.navigate(['/'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                           <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/about'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>About</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/clubs'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>Clubs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="router.navigate(['/events'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>Events</span>
                        </a>
                    </li>
                </ul>
                <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                    <div [hidden]="this.authenticationService.isLoggedIn()">
                        <button (click)="login()" pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button>
                        <button (click)="register()" pButton pRipple label="Register" class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button> 

                    </div>

                    <div [hidden]="!this.authenticationService.isLoggedIn()">
                        <p-button #btn (click)="menu.toggle($event)" icon="pi pi-user" styleClass="p-button-lg p-button-rounded p-button-plain p-button-text"></p-button>
                        <p-tieredMenu #menu [model]="profileItems" [popup]="true"></p-tieredMenu>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="grid grid-nogutter lg:px-8 surface-section text-800">
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <span class="block text-6xl font-bold mb-1">Bring close your community</span>
                    <div class="text-6xl text-primary font-bold mb-3">Create your Club!</div>
                    <p class="mt-0 mb-4 text-700 line-height-3">Do not follow where the path may lead. Go instead where there is no path and leave a trail.</p>
                </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden">
                <img src="assets/images/cover.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
            </div>
        </div>
        <div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
            <div class="text-center">
                <h2 class="text-900 font-normal mb-2">About</h2>
                <span class="text-600 text-xl">Work Environment.</span>
            </div>
        
            <div class="grid mt-8 pb-2 md:pb-8">
                <div class="flex justify-content-center col-12 lg:col-6 bg-purple-100 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
                    <img src="assets/images/fsb.jpeg" class="w-11" alt="mockup mobile">
                </div>
        
                <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
                    <div class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end" style="width:4.2rem; height:4.2rem; border-radius: 10px;">
                        <i class="pi pi-fw pi-building text-5xl text-purple-700"></i>
                    </div>
                    <h2 class="line-height-1 text-900 text-4xl font-normal">Faculty of Sciences of Bizerte</h2>
                    <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">The Faculty of Science of Bizerte is a teaching and research institution under the supervision of the Ministry of Higher Education and Scientific Research. It is attached to the University of Carthage. The Faculty of Sciences of Bizerte was founded in 1990 (Law No. 106 of 26 November 1990) and replaced the Ecole Normale Supérieure created in 1956 in Tunis and transferred to Bizerte in October 1980.</span>
                </div>
            </div>
        
            <div class="grid mt-8 pt-2 md:pt-8">
                <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
                    <div class="flex align-items-center justify-content-center bg-yellow-200 align-self-center lg:align-self-start" style="width:4.2rem; height:4.2rem; border-radius:10px;">
                        <i class="pi pi-fw pi-star text-5xl text-yellow-700"></i>
                    </div>
                    <h2 class="line-height-1 text-900 text-4xl font-normal">4C</h2>
                    <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">The Career and Skills Certification Center (4C) of the University of Tunis is a structure attached to the presidency of the University. The 4C of the University of Carthage plays the role of a link between the university, the student and the company. Its mission is to prepare and support students and graduates and to facilitate their integration into the labor market.</span>
                </div>
        
                <div class="flex justify-content-center flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-yellow-100 p-0" style="border-radius:8px;">
                    <img src="assets/images/cccc.png" class="w-11" alt="mockup">
                </div>
            </div>
        </div>
        <div id="features" class="py-4 px-4 lg:px-8 mt-1 mx-0 lg:mx-8">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-8 mb-4">
                    <h2 class="text-900 font-normal mb-2">Active Clubs</h2>
                    <!-- <span class="text-600 text-2xl">Placerat in egestas erat...</span> -->
                </div>
        
                <div *ngFor="let club of clubs" class="col-3">
                    <p-card header="{{club?.name}}" subheader="{{club?.leader.grade.department.title}}" [style]="{width: '300px'}" styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                            <img *ngIf="club?.logo != null" alt="Card" [src]="getSrcFromCustomFile(club)">
                            <img *ngIf="club?.logo == null" alt="Card" src="assets/images/4c.png">
        
                        </ng-template>
                        <p>{{club?.description}}</p>
                    </p-card>
                    <!-- <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 226, 237, 0.2), rgba(172, 180, 223, 0.2)), linear-gradient(180deg, rgba(172, 180, 223, 0.2), rgba(246, 158, 188, 0.2));">
                        <div class="p-3 surface-card h-full" style="border-radius:8px;">
                            <div class="flex align-items-center justify-content-center bg-indigo-200" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-map text-2xl text-indigo-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">{{club?.name}}</h5>
                            <span class="text-600">{{club?.description}}</span>
                        </div>
                    </div> -->
                </div>
        
                <!-- <div class="col-12 mt-8 mb-8 p-2 md:p-8" style="border-radius:20px; background:linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #EFE1AF 0%, #C3DCFA 100%);">
                    <div class="flex flex-column justify-content-center align-items-center text-center px-3 py-3 md:py-0">
                        <p class="text-gray-900 sm:line-height-2 md:line-height-4 text-2xl mt-4" style="max-width:800px;">“We make a living by what we get, but we make a life by what we give.”</p>
                        
                        <h3 class="text-gray-900 mb-2">Winston Churchill</h3>
                        <span class="text-gray-600 text-2xl">Peak Interactive</span> 
                        <img src="assets/demo/images/landing/peak-logo.svg" class="mt-4" alt="Company logo"> 
        
                    </div>
                </div> -->
            </div>
        </div>
        

        <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
            <div class="grid justify-content-between">
                <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'home'})" class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                        <img src="assets/images/fsb.png" alt="footer sections" height="100" class="mr-2">
                        <h4 class="font-medium text-3xl text-900">Clubs Management</h4>
                    </a>
                </div>
        
                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-3">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Company</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">About Us</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">News</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Investor Relations</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Careers</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">Media Kit</a>
                        </div>
                        
                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Resources</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Get Started</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Learn</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">Case Studies</a>
                        </div>
        
                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Community</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Discord</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Events</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
                        </div>
        
                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Legal</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Brand Policy</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacy Policy</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">Terms of Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

