<div class="backg surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%;">
        <div class="col-12 mt-3 xl:mt-0 text-center">
            <a href="" class="text-blue-500"><img src="assets/images/fsb.png" alt="Sakai logo" class="mb-4" style="width:15%;"></a>
            
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgb(47, 137, 59) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="grid flex flex-column align-items-center">
                    <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="height:3.2rem; width:3.2rem;">
                        <i class="pi pi-fw pi-check text-2xl text-white"></i>
                    </div>
                    <h1 class="text-900 font-bold text-5xl mb-2">Success</h1>
                    <span class="text-600">Your Club request have been saved successfully.</span>
                </div>
            </div>
        </div>
    </div>
</div>